:root {
  --ifm-color-primary: #8c56bf;
  --ifm-color-primary-dark: #bf56a8;
  --ifm-color-primary-darker: #bf56a8;
  --ifm-color-primary-darkest: #bf56a8;
  --ifm-color-primary-light: #bf56a8;
  --ifm-color-primary-lighter: #bf56a8;
  --ifm-color-primary-lightest: #bf56a8;
  --ifm-code-font-size: 95%;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.1);
}

* {
  font-family: "Manrope", var(--ifm-font-family-base);
  font-kerning: none;
}

.table-of-contents__link {
  font-size: 14px;
  letter-spacing: 0.03em;
}

.token {
  font-family: monospace;
  font-size: 14px;
}

[data-theme="dark"] {
  --ifm-color-primary: #bea0db;
  --ifm-color-primary-dark: #db9fcd;
  --ifm-color-primary-darker: #db9fcd;
  --ifm-color-primary-darkest: #db9fcd;
  --ifm-color-primary-light: #db9fcd;
  --ifm-color-primary-lighter: #db9fcd;
  --ifm-color-primary-lightest: #db9fcd;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.3);
}

.theme-doc-sidebar-item-category {
  padding: 1rem 0 1rem 0;
}

.theme-doc-sidebar-item-category > .menu__list-item-collapsible > .menu__link {
  text-transform: uppercase;
  font-size: 12px;
  user-select: none;
  letter-spacing: 1.1px;
}

.theme-doc-sidebar-item-link {
  padding: 0.2rem 1rem 0.2rem 0;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin: 0 calc(var(--ifm-spacing-horizontal) * -1);
  justify-content: space-between;
}

@media (max-width: 996px) {
  .row {
    justify-content: center;
    text-align: center;
  }
}

.column {
  max-width: 40em;
  margin: 1em 0;
}

.footer__links {
  text-align: center;
  margin-bottom: 2em;
}

.link {
  color: var(--ifm-font-color-base);
  transition: transform var(--ifm-transition-slow),
    box-shadow var(--ifm-transition-slow);
  width: fit-content;
}

.link:hover {
  color: var(--ifm-font-color-base);
  text-decoration: var(--ifm-link-decoration);
  transform: scale(1.05);
  box-shadow: var(--ifm-global-shadow-lw);
}
